<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "pl.polskieszlaki.jura"
        versionCode="1" 
        version   = "1.0.1">

    <!-- versionCode is optional and Android only -->

    <name>Jura Krakowsko-Częstochowska</name>

    <description>
        Atrakcje Jury Krakowsko-Częstochowskiej w jednym miejscu 
    </description>

    <author href="http://www.polskieszlaki.pl" email="biuro@polskieszlaki.pl">
        Łukasz Piernikarczyk
    </author>
    
    <preference name="android-minSdkVersion" value="7" /> 
		<preference name="android-maxSdkVersion" value="15" /> 
    <preference name="permissions" value="none"/>
    <preference name="load-url-timeout" value="60000" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-targetSdkVersion" value="15" />
    
    <preference name="phonegap-version" value="2.9.0" />
		
    <icon src="img/icons/android/xhdpi.png" />
    <icon src="img/icons/android/ldpi.png" gap:platform="android" gap:density="ldpi" />
		<icon src="img/icons/android/mdpi.png" gap:platform="android" gap:density="mdpi" />
		<icon src="img/icons/android/hdpi.png" gap:platform="android" gap:density="hdpi" />
		<icon src="img/icons/android/xhdpi.png" gap:platform="android" gap:density="xhdpi" />
		
		<gap:splash src="img/splash/android/ldpi.png" gap:platform="android" gap:density="ldpi" />
		<gap:splash src="img/splash/android/mdpi.png" gap:platform="android" gap:density="mdpi" />
		<gap:splash src="img/splash/android/hdpi.png" gap:platform="android" gap:density="hdpi" />
		<gap:splash src="img/splash/android/xhdpi.png" gap:platform="android" gap:density="xhdpi" />

    <gap:platform name="android" />
</widget>